* {
    box-sizing: border-box;
}
/*NavBar*/
.navbar{
    font-family: 'Abel', sans-serif;
}
.logo__page{
    transition: transform 0.5s;
}
.logo__page:hover{
    transform: rotate(360deg)
}
#window{
        width: 350px;
        height: 530px;
        margin: 70px auto;
        background: #fff;
        border: 1px solid #fff;
        border-radius: 15px;
        z-index: 150;
        display: none;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
}
.in_window{
    width: 275px;
    margin: 0px auto 20px auto;
    text-align: center;
}
.input{
    width:260px;
    padding 5px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.radio{
    margin-bottom: 10px;
}
.chkLink{
    margin-bottom: 20px;
}
.close_image{
    margin: 10px 0 0 320px;
    cursor: pointer;
}
.btn_reg{
    background-color: rgba(255, 0, 0, 0.9);
    padding: 5px 10 5 10px;
    border: 1px solid hsla(60, 100%, 50%, 1.0);
    border-radius: 10px;
}
.btn_reg:hover{
    background-color:brown;
}
#gray{
    background-color: rgba(1,1,1,0.75);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
    z-index: 100;
}


/* First Page */

.first__page{
    display: flex;
    width: 100%;
    padding-top: 200px;
    height: 100vh;
    background: url("../img/canyon-kazakhstan.jpg") center no-repeat;    
}
.first_inner{
    padding-top: 100px;
}
.first__title{
    color: white;
    font-size: 60px;
    font-weight: 600;
    line-height: 1;
    padding-left: 50px;
}
.first__suptitle{
    color: white;
    font-size: 20px;
    padding-left: 50px;
}
.first__slide{
    padding-left: 65px;
    position: relative;
}
.panel__city, .flip__city {
    width: 500px;
    text-align: center;
    background-color: #343a40;
}
.flip__city{
    font-weight: 600;
    font-size: 30px;
    color: white;
    height: 50px;
    border-radius: 10px 10px 10px 10px;
}

.flip__city:hover{
    color: #343a40;
    background-color: white;
}
.panel__city {
    border-radius: 10px 10px 25px 25px;
    display: none;
}
.cities__table th{
    padding: 10px;
}

   /*image logo*/
th .logo__city{
    transition: transform 0.5s; 
}
th:hover .logo__city{
    transform: rotate(360deg);
}
.link__city{
    text-decoration: none;
    color: aliceblue;
    text-transform: uppercase;
}
.link__city:hover{
    font-size: 17px;
    text-decoration: none;
    color:deepskyblue;
    text-shadow: 2px 3px darkblue;
}

/* Advert Page */
.advert{
    width: auto;
    height: 100px;
    background:url("../img/1xbet.png") center no-repeat;
    display:  block;
}

.advert_panel{
    height:650px;
    background: url("../img/1xbet_panel.jpg") center no-repeat;
    background-size:cover; 
    display:none;
}
.close_advert{
    float: right;
    cursor: pointer;
}
#goal{
    margin: 80px 0px 0px 100px;
    
}
#div1, #div2, #div3, #div4{
    display: none;
    margin-top: 30px;
    text-align: center;
}
#ball{
    width: 80px;
    margin-left: 580px;
    margin-top: 320px;
    background-size: cover;    
}

/* Second Page */
.second__page{
    width: auto;
    height: 550px;
    background:url("../img/phon.jpg") center no-repeat;
    background-size:cover;
    padding: 20px;
}
#top_ex{
    color: white;
    font-family: 'Nunito Sans', bold;
    text-align: center;
    padding: 10px;
}
.carousel_img{
    width: 50%;
    height: 400px;
    margin: 0px 30px 30px 30px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px 10px;
}


/* Third Page */
.third__page{
    width: 100%;
    height: 200px;
    background-image: url("../img/third_page.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#third_title{
    margin-left: 3%; 
    padding-top: 1%;
    color: white; 
    font-family: 'Nunito Sans', bold;
}
.services_btns{
    list-style-type: none;
    position: absolute;
    margin: 1% 3% 2% 3%;
}
.services_btns li a{
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
    width: 150px;
    border: 1px solid red;
    border-radius: 10px;
    background-color: azure;
    margin-right: 30px;
    padding: 10px;
    font-family: 'Nunito Sans', bold;
}
.services_btns li a:hover{
    background-color:orange;
    box-shadow: 0px 0px 5px 5px burlywood;    
}
.services_btns li.active a{
    background-color:orange;
    box-shadow: 0px 0px 5px 5px burlywood;    
}
.services_btns li {
    float: left;
    
}
.icon_btn{
    width: 50px;
    height: 50px;
}



/* Four page */
.four_page{
    width: 100%;
    height: 115vh;
    background-size: cover;
    z-index: 1;
}
.sport_section{
    display: inline-flex;
    width: 250px;
    height: 300px;
    border: 1px solid red;
    border-radius: 5px;
    background-color: white;
    margin-top: 3%;
    margin-left: 7%;
    margin-right: 50px;
}
.img_sport{
    padding: 2%;
    margin-left: 2%;
    border-radius: 10px;
    width: 240px;
    height: 200px;
}



/* Five page */
.five_page{
}