@grayColor: rgb(153, 153, 153);
@map: map;

body{   
    background-color: @grayColor;
}
.divTop{
    display: flex;
}
.my-mixin(){
    margin-top: 50px;
    margin-left: 20px;
}
iframe{
    .my-mixin();
}
h1{
    text-align: center;
    color: hsl(0, 0%, 100%);   
}
#@{map}{
    .my-mixin(); 
}
.links{
    margin-top: 30px;
    margin-left: 40%;
}
a{
    margin-left: 30px;
}