body {
  background-color: #999999;
}
.divTop {
  display: flex;
}
iframe {
  margin-top: 50px;
  margin-left: 20px;
}
h1 {
  text-align: center;
  color: hsl(0, 0%, 100%);
}
#map {
  margin-top: 50px;
  margin-left: 20px;
}
.links {
  margin-top: 30px;
  margin-left: 40%;
}
a {
  margin-left: 30px;
}
